# Created by .ignore support plugin (hsz.mobi)

build/*
cmake-build-debug/*

# IntelliJ project files
.idea
*.iml
out
gen
CMakeCache.txt
CMakeFiles/
Makefile
Testing/
_deps/
cmake_install.cmake
lib/*.a
lib/*.so*
mustard*

